<table class='table'>
  <tr>
    <% @prices.select { |pr| pr.service_id == service_id && pr.category_id == category_id }.each do |price| %>
    <%# Price.where(:service_id => service_id, :category_id => category_id).each do |price| %>
      <td><%= localiztion_for(price, :title) %></td>
    <% end %>
  </tr>
  <tr>
    <% @prices.select { |pr| pr.service_id == service_id && pr.category_id == category_id }.each do |price| %>
    <%# Price.where(:service_id => service_id, :category_id => category_id).each do |price| %>
      <td><%= price.cost %></td>
    <% end %>
  </tr>
</table>